# This is a sample build configuration for .NET Core.
# Check our guides at https://confluence.atlassian.com/x/5Q4SMw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
# This is a sample build configuration for .NET Core.
# Check our guides at https://confluence.atlassian.com/x/5Q4SMw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: microsoft/dotnet:sdk

pipelines:
  default:
    - step:
        name: .NET Core build & test
        script:
          - export PROJECT_NAME=ScrumageWPF/ScrumageWPF
          - export TEST_NAME=ScrumageWPF/ScrumageWPF
          - dotnet restore ScrumageWPF/ScrumageWPF/ScrumageWPF.csproj
          - dotnet build ScrumageWPF/ScrumageWPF.sln